/* General page styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    width: 100%;
}

/* Calendar Container */
.calendar-container {
    width: 68%; /* Take up almost half of the page */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.calendar-container h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.calendar {
    display: flex;
    flex-direction: column;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
}

