
  .tid-container {
    width: 88%; /* Fylder hele linjen */
    max-width: 600px; /* Giver en grænse for bredde */
    margin: 0 auto; /* Centrer */
    display: flex;
    flex-direction: column; /* Så formularerne står ovenpå hinanden */
    gap: 2rem;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  }
  
#tiderscroll {
    overflow-y: auto; /* Giver scroll hvis indholdet er for stort */
    max-height: 450px; /* længde på scrollebassen*/
    margin-bottom: 100%; /* anti klam afstand */
    margin-top: -7%;
  }
  
  .tid-container form { /* Formularer til at vælge tidspunkter */
    display: flex;
    flex-direction: column; /* Så formularerne står ovenpå hinanden */
    gap: 1rem;
  }
  .tid-container label { /* overskrift til */
    font-size: 1.2em;
  }

.dinetider {
  font-size:20px;
}


/* alt herunder er styling af tilføj tid og fast tid mm */

.form-rowdato { /*dato tilføj tid*/
  
   
  margin-left: 31px; 
  width: 100000px;
}
.form-columnstart {

  margin-left: 6px;
}
.form-columnslut {
  
  margin-left: 12px;
}

.form-rowbank {
  align-self: left;
  margin-left: 5px;
}


.form-columnfd { /*dropdown fixed*/
  display: left;
  margin-left: 10px;
  width: 100px;
}

.form-columnstartfixed { /*start dag fixed*/
  display: flex;
  margin-left: 10px;
  
}

.form-columnslutfixed { /*slut dag fixed*/
  display: flex;
  margin-left: 10px;
}

.form-rowfixedbank { /*bank på fixed*/
  display: flex;
  margin-left: 100px;
}



